<p id="notice"><%= notice %></p>

<center>

<h1>All the undertales</h1>

<h3><%= link_to 'New Post', new_post_path %></h3>

  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post %></h2>
      <%= link_to post do %>
        <%= image_tag post.image(:large) if post.image? %>
      <% end %>
      <h3>Posted by <%= link_to post.user.display_name, post.user %></h3>
      <br>
    </div>
  <% end %>
</center>